body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e6f4fc;
    color: #222;
}

header {
    background-color: #e6f0fa;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding-top: 25px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 500px;
    height: 500px;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
    color: #222;
    font-size: 30px;
}

.login {
    font-size: 20px;
    display: flex;
    width: 30px;
    height: 30px;
}

.search {
    font-size: 20px;
    display: flex;
    width: 30px;
    height: 30px;
}

.sobre {
    display: flex;
    align-items:center;
    justify-content: space-around;
    text-align: center;
    gap: 40px;
    padding: 40px;
}

.sobre-nos h1 {
    font-size: 2rem;
    margin-bottom: 40px;
    color: #0c2d57;
}

.caixas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

footer {
    background-color: #e6f0fa;
    padding: 40px 20px;
    text-align: center;
    margin-top: 40px;
}

.footer top {
    margin-bottom: 20px;
}

.footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.footer-logo img {
    width: 5px;
    height: 5px;
}

.footer-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}

.social .icones a {
    margin: 0 5px;
    font-size: 20px;
    text-decoration: none;
}

.copy {
    font-size: 14px;
    color: #555;
}