@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #0f1a2c;                    
    --seconday-color: #f6ac0f;
    --text-dark: #0f172a;
    --text-light: #64748b;
    --extra-light: #f8fafc;
    --white: #ffffff;
    --gradient: linear-gradient(to right bottom, #ffd43b, #ff9900);

    --ff: 'Playfair Display', serif;

    /*DEFINE 1REM - 16PX*/
    font-size: 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #AACADD;
}

a{
    text-decoration: none;
}

/*CABEÇALHO*/
.section_container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 5rem 1rem;
}

header{
    background-color: var(--primary-color);
    height: 100px;
    
}

.navbar_container {
    max-width: 1500px;
    background-color: var(--white);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    padding: 1rem 2rem;
    transform: translateY(50%);
}

.navbar_logo img {
    margin-top: 5px;
    max-width: 250px;
    display: block;
}

/*itens menu*/
.navbar_links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.navbar_links a{
    color: var(--text-dark);
    font-weight: 600;
    font-size: 1rem;
    transition: 0.3s;
}

.navbar_links a:hover{
    color: #AACADD;
    border-bottom: 2px solid #AACADD;
}
/*login*/
.login button{
    display: flex;
    align-items:center;
    border-bottom: 2px solid var(--seconday-color);
    border-radius: 0 0 10px 10px;
    padding-bottom: 0.1rem;
    margin-left: 3rem;
}

.login{
    border: none;
    background: none;
    font-size: 1.2rem;
    padding-left: 1rem;
    cursor: pointer;
}


/*busca*/
.search-box {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #003366;
    border-radius: 0 0 10px 10px;
    padding-bottom: 0.1rem;
    margin-left: 2rem;
}

.search-box input {
    border: none;
    padding-left: 0.8rem;
    font-style: italic;
    outline: none;
    font-size: 0.8rem;
    color: var(--text-dark);
    width: 230px;

}

.search {
    border: none;
    background: none;
    font-size: 1.2rem;
    padding-left: 0.5rem;
    cursor: pointer;
}

.navbar_toggle {
    font-size: 2rem;
    border: none;
    background: none;
    color: var(--text-dark);
    cursor: pointer;
    transition: 0.3s;
    display: none;
}

.navbar_toggle ion-icon:hover {
    color: var(--seconday-color);
}
/* ===== CAIXA DE SELEÇÃO ===== */
.language-selector {
  display: flex;
  align-items: center;
  gap: 8px;
  background: var(--white);
  border: 1px solid var(--secondary-color);
  border-radius: 8px;
  padding: 3px 6px;
  cursor: pointer;
  transition: 0.3s;
}

.language-selector:hover {
  background: var(--secondary-color);
}

.lang-icon {
  font-size: 1.3rem;
  color: var(--secondary-color);
  transition: color 0.3s;
}

.language-selector:hover .lang-icon {
  color: var(--primary-color);
}

.lang-select {
  border: none;
  outline: none;
  background: transparent;
  font-weight: 600;
  color: var(--text-dark);
  font-size: 0.95rem;
  cursor: pointer;
  padding: 3px 6px;
  border-radius: 6px;
  width: 60px;
}

.language-selector:hover .lang-select {
  color: var(--primary-color);
}

/*JOGOS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.topo-jogos {
    width: 60%;
    margin: 150px auto 40px auto; 
    background: #bfe3ff;
    padding: 25px 0;
    border-radius: 20px;
    text-align: center;
    position: relative;
}

.topo-jogos h1 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 5px;
}

.topo-jogos .icone {
    width: 35px;
    margin-top: 5px;
}

.jogos {
    margin-top: 200px;  
    padding: 10rem;
}

.jogos .container {
    width: 90%;
    margin: auto;
    padding: 40px 0;
}

.titulo {
    text-align: center;
    margin-bottom: 40px;
    font-size: 32px;
    font-weight: 700;
    color: #1a1a1a;
}

.grid-jogos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin: 0 50px;
}

.card {
    background: white;
    border-radius: 18px;
    padding: 15px;
    box-shadow: 0px 4px 14px rgba(0,0,0,0.1);
    transition: 0.2s;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 450px;
    border-radius: 18px;
    margin-bottom: 15px;
}

.card h3 {
    font-size: 20px;
    margin-bottom: 6px;
}

.data {
    font-size: 14px;
    color: #444;
    margin-bottom: 10px;
}

.desc {
    font-size: 14px;
    color: #333;
    margin-bottom: 15px;
}

.disp {
    font-size: 14px;
    color: #1a1a1a;
}

.btn {
    align-items:center;
    padding-left: 800px;
    margin-top: 20px;
    background: #f7cf66;
    border: none;
    padding: 18px 40px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1.2em;
}

/*FOOTER*/
footer {
    background-color: #d9e6f3;
    text-align: center;
    padding-top: 30px;
    margin-top: 60px;
}

.Footer-top img {
    height: 250px;
}

.Footer-top {
    margin: 10px auto 30px;
    max-width: 500px;
    font-size: 16px;
    color: #444;
}

.Footer-bottom {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px 0;
}

.contato, .social {
    text-align: left;

}

.contato h3, .contato p {
  display: flex;
  align-items: center;
  gap: 8px;
}

.contato img {
  width: 18px;
}

.social p {
    font-weight: 500;
    margin-bottom: 10px;
}

.social .Icones a img {
    width: 25px;
    margin-right: 10px;
    transition: 0.3s;
}

.copy {
    background-color: #cfdceb;
    padding: 15px;
    font-size: 13px;
    margin: 0;
    color: #333;
}

@media (max-width: 768px) {
    nav ul {
        flex-wrap: wrap;
        justify-content: center;
    }

    .Caixas > div {
        width: 85%;
    }

    .Footer-bottom {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}