@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #0f1a2c;                    
    --seconday-color: #f6ac0f;
    --text-dark: #0f172a;
    --text-light: #64748b;
    --extra-light: #f8fafc;
    --white: #ffffff;
    --gradient: linear-gradient(to right bottom, #ffd43b, #ff9900);

    --ff: 'Playfair Display', serif;

    /*DEFINE 1REM - 16PX*/
    font-size: 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #AACADD;
}

a{
    text-decoration: none;
}

/*CABEÇALHO*/
.section_container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 5rem 1rem;
}

header{
    background-color: var(--primary-color);
    height: 100px;
}

.navbar_container {
    max-width: 1400px;
    background-color: var(--white);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    padding: 1rem 2rem;
    transform: translateY(50%);
}

.navbar_logo img {
    margin-top: 5px;
    max-width: 250px;
    display: block;
}

/*HERO*/
.hero-section {
    background-image: linear-gradient(
    to right,
    rgba(15, 26, 44, 0.7),
    rgba(15, 26, 44, 0.1)
    ), 
    url("../img/ChatGPT\ Image\ 16\ de\ out.\ de\ 2025\,\ 07_53_46.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding-block: 10rem;
}

.hero_container h1 {
    color: var(--extra-light);
    font-size: 4rem;
    font-family: var(--ff);

}

.btn {
    align-items:baseline;
    padding-left: 800px;
    margin-top: 20px;
    background: #f7cf66;
    border: none;
    padding: 18px 40px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1.2em;
}

/*itens menu*/
.navbar_links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.navbar_links a{
    color: var(--text-dark);
    font-weight: 600;
    font-size: 1rem;
    transition: 0.3s;
}

.navbar_links a:hover{
    color: var(--seconday-color);
    border-bottom: 2px solid var(--seconday-color);
}
/*login*/
.login button{
    display: flex;
    align-items:center;
    border-bottom: 2px solid var(--seconday-color);
    border-radius: 0 0 10px 10px;
    padding-bottom: 0.1rem;
    margin-left: 3rem;
}

.login{
    border: none;
    background: none;
    font-size: 1.2rem;
    padding-left: 1rem;
    cursor: pointer;
}


/*busca*/
.search-box {
    display: flex;
    align-items: center;
    border-bottom: 2px solid var(--seconday-color);
    border-radius: 0 0 10px 10px;
    padding-bottom: 0.1rem;
    margin-left: 2rem;
}

.search-box input {
    border: none;
    padding-left: 0.8rem;
    font-style: italic;
    outline: none;
    font-size: 0.8rem;
    color: var(--text-dark);
    width: 230px;

}

.search {
    border: none;
    background: none;
    font-size: 1.2rem;
    padding-left: 0.5rem;
    cursor: pointer;
}

.navbar_toggle {
    font-size: 2rem;
    border: none;
    background: none;
    color: var(--text-dark);
    cursor: pointer;
    transition: 0.3s;
    display: none;
}

.navbar_toggle ion-icon:hover {
    color: var(--seconday-color);
}
/* Cards de temas */
.temas {
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
  gap: 25px;
  padding: 50px 20px;
  background: #eef2f7;
  
}

.card {
  background: white;
  border-radius: 12px;
  width: 200px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 50px;
  margin-bottom: 10px;
}

.card h3 {
  font-size: 16px;
  color: #003366;
}

/* CARROSSEL */
.carousel {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
    margin: auto;
    position: relative;
}
.carrosel-not{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
}

.carousel-item {
    width: 60%;
    padding: 15px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.carousel-img {
    width: 500px;
    border-radius: 10px;
}

/* Setas */
.prev,
.next {
  position: absolute;
  top: 50%; /* centraliza verticalmente */
  transform: translateY(-50%);
  font-size: 50px;
  border: none;
  background: none;
  cursor: pointer;
  color: #333;
  transition: color 0.3s;
}

.prev:hover,
.next:hover {
  color: #007bff;
}

.prev {
  left: 550px; /* seta esquerda */
}

.next {
  right: 550px; /* seta direita */
}

/*APANHEI PRA CARAMBA AQUI, mas deu tudo certo*/

.texto-slide{
    background: #eef2f7;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

/* CARDS */
.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 40px 0;
    cursor: pointer;
    text-align: center;
    font-style: oblique;
}

.card-not {
    width: 280px;
    border-radius: 10px;
    padding: 10px;
    background: #fff;
    box-shadow: 0 5px 12px rgba(0,0,0,0.5);
}

.card-img {
    width: 250px;
    border-radius: 10px;
    
}


/* Botão de mais notícias */
.more {
    background: #f7cf66;
    border: none;
    padding: 12px 40px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1.2em;
}

.botao {
    align-items:center;
    padding: 15px;
    padding-left: 800px;
}

/*INDICAÇÕES DA SEMANA ~ nao aguebtoi mais*/
.indicacoes{
  background-color: #0A1A34; 
  color: white;
  padding-top: 50px;
  text-align: center;
}

.semana h1{
  align-items: center;
  text-align: center;
  margin-bottom: 30px;

}

.joystick{
  width: 30px;
}

.tape {
  position: relative;
  background-color: #eef2f7;
  display: flex;
  justify-content: center;
  background-size: cover;
}

.tape .left img{
  background-position: center;
  background-repeat: no-repeat;
  border: none;

  
}

.tape .right img{
  background-size: cover;

}

.card-game{
    background-color: #eef2f7;
    border-radius: 5%;
    color: #000;
    padding: 15px;
    display: inline-block;
}

.recomendacao-container {
  background: #AACADD;
  color: white;
  padding: 30px;
  z-index: 2; 
  position: relative;
  width: 1000px;
}

.recomendacao-container h2{
  padding: 2rem;
  color: #000;
}


.img-game{
    width: 270px;
}

.star{
    width: 30px;
}

.ver-mais {
    background: #f7cf66;
    border: none;
    padding: 12px 40px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1.2em;
}

.card-movie{
  background-color: #eef2f7;
  border-radius: 5%;
  color: #000;
  padding: 15px;
  display: inline-block;
  margin: 0 auto;
}

.img-movie{
  width: 150px;
}


/*FOOTER*/
.bottom {
  background-color: #0A1A34; 
  color: white;
  padding-top: 90px;
}

.footer {
  max-width:none;
  margin: auto;
  padding: 5px;
  display:block;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap; 
  background-color: #AACADD; 
  border-radius: none;
  color: #000;
  text-align: center;
}

.Logotipo {
  position: absolute;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.Logotipo img {
  width: 500px;
  height: 500px;
}

.logotipo p{
    margin: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3rem;
    padding-bottom: 50px;

}

/* Contato */
.contato {
  flex: 1;
  padding-left: 200px;
  padding-right: 200px;
}

.contato p {
  margin: 5px 0;
  display: flex;
  align-items: center;
  font-size: 1rem;
  position: relative;
}


.icon-ctt {
  width: 18px;
  vertical-align: middle;
  left: 50px;
}

.btn-ctt {
  width: 30px;
  left: 50px;
  cursor: pointer;
  justify-content: center;
}


.creditos {
  flex: 1;
  position: absolute;
  text-align: center;
  padding: 10px 20px;
  font-size: 0.85rem;
  color: #333;
  right: 50px;
  
}


